In [ ]:
develop read data method
windowing technique for moving average
moving windows for different statistics
getting different statistics on moving window

### Read historical and real time data from NSE

[NSE](https://nsepy.xyz/)

In [3]:
! pip install nsepy

Requirement already satisfied: nsepy in c:\programdata\anaconda3\lib\site-packages (0.8)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from nsepy) (1.20.3)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from nsepy) (2.26.0)
Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (from nsepy) (4.6.3)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nsepy) (8.0.3)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from nsepy) (4.10.0)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from nsepy) (1.3.4)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from nsepy) (1.16.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->nsepy) (2.2.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nsepy) (0.4.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas->nsepy) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas->nsepy) (2021.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->nsepy) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests->nsepy) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->nsepy) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->nsepy) (3.2)

In [1]:
from datetime import date
from nsepy import get_history as gh
from nsepy import get_history
import pandas as pd

In [5]:
get_history(symbol="SBIN", start=date(2015,1,1), end=date(2015,1,31))

TooManyRedirects: Exceeded 30 redirects.

In [2]:
data = get_history(symbol="SBIN", start=date(2015,1,1), end=date(2015,1,31))
data[['Close']].plot()

TooManyRedirects: Exceeded 30 redirects.

In [3]:
data.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,SBIN,EQ,311.85,312.45,315.00,310.70,314.0,314.00,313.67,6138488,1.925489e+14,58688,1877677,0.3059
2015-01-02,SBIN,EQ,314.00,314.35,318.30,314.35,315.6,315.25,316.80,9935094,3.147389e+14,79553,4221685,0.4249
2015-01-05,SBIN,EQ,315.25,316.25,316.80,312.10,312.8,312.75,313.84,9136716,2.867432e+14,88236,3845173,0.4208
2015-01-06,SBIN,EQ,312.75,310.00,311.10,298.70,299.9,299.90,305.14,15329257,4.677601e+14,169268,7424847,0.4844
2015-01-07,SBIN,EQ,299.90,300.00,302.55,295.15,301.4,300.15,299.95,15046745,4.513243e+14,147185,5631400,0.3743

In [89]:
start_date = date(2019, 1 , 7) 
end_date = date(2019, 5, 15)

In [90]:
start_date

datetime.date(2019, 1, 7)

In [93]:
df = pd.DataFrame()

In [94]:
df

Empty DataFrame
Columns: []
Index: []

In [95]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [96]:
growth_stocks = ['APCL', 'BALRAMCHIN', 'PAGEIND', 'DECCANCE', 'KALPATPOWR', 'SAGCEM', 'LTI', 'BHARATRAS', 'NMDC']

In [97]:
growth_stocks

['APCL',
 'BALRAMCHIN',
 'PAGEIND',
 'DECCANCE',
 'KALPATPOWR',
 'SAGCEM',
 'LTI',
 'BHARATRAS',
 'NMDC']

In [98]:
i = 0

In [99]:
print(i)

0

In [100]:
gh(symbol=growth_stocks[i],start=start_date, end=end_date)

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2019-01-07,APCL,EQ,129.55,129.00,131.50,126.00,126.15,126.25,128.17,2294,2.940270e+10,89,2048,0.8928
2019-01-08,APCL,EQ,126.25,125.90,127.00,125.90,126.35,126.85,126.30,243,3.069000e+09,15,100,0.4115
2019-01-09,APCL,EQ,126.85,134.00,134.00,126.15,126.15,126.15,126.45,274,3.464635e+09,9,181,0.6606
2019-01-10,APCL,EQ,126.15,129.35,132.30,129.35,129.75,129.80,130.48,105,1.370040e+09,24,51,0.4857
2019-01-11,APCL,EQ,129.80,133.35,133.40,126.15,127.00,128.75,128.27,639,8.196620e+09,50,486,0.7606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-05-09,APCL,EQ,128.40,129.90,138.45,126.55,131.25,134.35,131.62,797,1.049049e+10,93,299,0.3752
2019-05-10,APCL,EQ,134.35,131.65,134.55,131.65,134.00,133.25,132.95,468,6.222130e+09,19,308,0.6581
2019-05-13,APCL,EQ,133.25,132.00,132.00,123.00,131.00,123.90,126.16,1765,2.226660e+10,44,1619,0.9173
2019-05-14,APCL,EQ,123.90,125.80,133.00,122.25,133.00,131.40,129.57,4144,5.369392e+10,133,1735,0.4187
2019-05-15,APCL,EQ,131.40,128.90,145.90,127.25,139.00,142.95,140.76,11825,1.664493e+11,159,10181,0.8610

In [101]:
growth_stocks

['APCL',
 'BALRAMCHIN',
 'PAGEIND',
 'DECCANCE',
 'KALPATPOWR',
 'SAGCEM',
 'LTI',
 'BHARATRAS',
 'NMDC']

In [102]:
gh(symbol=growth_stocks[i],start=start_date, end=(end_date))

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2019-01-07,APCL,EQ,129.55,129.00,131.50,126.00,126.15,126.25,128.17,2294,2.940270e+10,89,2048,0.8928
2019-01-08,APCL,EQ,126.25,125.90,127.00,125.90,126.35,126.85,126.30,243,3.069000e+09,15,100,0.4115
2019-01-09,APCL,EQ,126.85,134.00,134.00,126.15,126.15,126.15,126.45,274,3.464635e+09,9,181,0.6606
2019-01-10,APCL,EQ,126.15,129.35,132.30,129.35,129.75,129.80,130.48,105,1.370040e+09,24,51,0.4857
2019-01-11,APCL,EQ,129.80,133.35,133.40,126.15,127.00,128.75,128.27,639,8.196620e+09,50,486,0.7606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-05-09,APCL,EQ,128.40,129.90,138.45,126.55,131.25,134.35,131.62,797,1.049049e+10,93,299,0.3752
2019-05-10,APCL,EQ,134.35,131.65,134.55,131.65,134.00,133.25,132.95,468,6.222130e+09,19,308,0.6581
2019-05-13,APCL,EQ,133.25,132.00,132.00,123.00,131.00,123.90,126.16,1765,2.226660e+10,44,1619,0.9173
2019-05-14,APCL,EQ,123.90,125.80,133.00,122.25,133.00,131.40,129.57,4144,5.369392e+10,133,1735,0.4187
2019-05-15,APCL,EQ,131.40,128.90,145.90,127.25,139.00,142.95,140.76,11825,1.664493e+11,159,10181,0.8610

In [103]:
data = gh(symbol=growth_stocks[i],start=start_date, end=(end_date))[['Symbol','Close']]

In [104]:
data.head()

           Symbol   Close
Date
2019-01-07   APCL  126.25
2019-01-08   APCL  126.85
2019-01-09   APCL  126.15
2019-01-10   APCL  129.80
2019-01-11   APCL  128.75

In [105]:
data['Symbol'][0]

'APCL'

In [106]:
    if i == 0: 
        df = data 
    if i != 0: 
        df = df.join(data)

In [107]:
df

           Symbol   Close
Date
2019-01-07   APCL  126.25
2019-01-08   APCL  126.85
2019-01-09   APCL  126.15
2019-01-10   APCL  129.80
2019-01-11   APCL  128.75
...           ...     ...
2019-05-09   APCL  134.35
2019-05-10   APCL  133.25
2019-05-13   APCL  123.90
2019-05-14   APCL  131.40
2019-05-15   APCL  142.95

[87 rows x 2 columns]

In [108]:
len(growth_stocks)

9

In [109]:
data.head()

           Symbol   Close
Date
2019-01-07   APCL  126.25
2019-01-08   APCL  126.85
2019-01-09   APCL  126.15
2019-01-10   APCL  129.80
2019-01-11   APCL  128.75

In [110]:
data.rename(columns={'Close':data['Symbol'][0]},inplace=True)

In [111]:
data['Symbol'][0]

'APCL'

In [112]:
{'Close':data['Symbol'][0]}

{'Close': 'APCL'}

In [113]:
columns={'Close':data['Symbol'][0]}
columns

{'Close': 'APCL'}

In [114]:
data.rename(columns={'Close':data['Symbol'][0]},inplace=True)

In [115]:
data.head()

           Symbol    APCL
Date
2019-01-07   APCL  126.25
2019-01-08   APCL  126.85
2019-01-09   APCL  126.15
2019-01-10   APCL  129.80
2019-01-11   APCL  128.75

In [116]:
data.drop(['Symbol'], axis=1,inplace=True)

In [117]:
data

              APCL
Date
2019-01-07  126.25
2019-01-08  126.85
2019-01-09  126.15
2019-01-10  129.80
2019-01-11  128.75
...            ...
2019-05-09  134.35
2019-05-10  133.25
2019-05-13  123.90
2019-05-14  131.40
2019-05-15  142.95

[87 rows x 1 columns]

In [118]:
for i in range(len(growth_stocks)):
    print(i)

0
1
2
3
4
5
6
7
8

In [119]:
for i in range(len(growth_stocks)): 
    data = gh(symbol=growth_stocks[i],start=start_date, end=(end_date))[['Symbol','Close']] 
    data.rename(columns={'Close':data['Symbol'][0]},inplace=True)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [67]:
len(data)

0

In [68]:
if len(data) != 0:
    print(data)

In [82]:
for i in range(len(growth_stocks)): 
    data = gh(symbol=growth_stocks[i],start=start_date, end=(end_date))[['Symbol','Close']] 
    print(data.head())
    if len(data) != 0:
        data.rename(columns={'Close':data['Symbol'][0]},inplace=True) 
        data.drop(['Symbol'], axis=1,inplace=True) 
        if i == 0: 
            df = data
        if i != 0: 
            df = df.join(data)

           Symbol   Close
Date
2019-01-07   APCL  126.25
2019-01-08   APCL  126.85
2019-01-09   APCL  126.15
2019-01-10   APCL  129.80
2019-01-11   APCL  128.75
                Symbol   Close
Date
2019-01-07  BALRAMCHIN  108.00
2019-01-08  BALRAMCHIN  111.15
2019-01-09  BALRAMCHIN  108.80
2019-01-10  BALRAMCHIN  109.90
2019-01-11  BALRAMCHIN  111.10
             Symbol     Close
Date
2019-01-07  PAGEIND  21907.55
2019-01-08  PAGEIND  23021.60
2019-01-09  PAGEIND  23262.80
2019-01-10  PAGEIND  23176.35
2019-01-11  PAGEIND  23356.00
              Symbol   Close
Date
2019-01-07  DECCANCE  399.90
2019-01-08  DECCANCE  395.60
2019-01-09  DECCANCE  397.75
2019-01-10  DECCANCE  388.55
2019-01-11  DECCANCE  394.85
                Symbol   Close
Date
2019-01-07  KALPATPOWR  377.85
2019-01-08  KALPATPOWR  383.20
2019-01-09  KALPATPOWR  382.80
2019-01-10  KALPATPOWR  380.40
2019-01-11  KALPATPOWR  380.80
            Symbol   Close
Date
2019-01-07  SAGCEM  659.75
2019-01-08  SAGCEM  666.35
2019-01-09  SAGCEM  669.50
2019-01-10  SAGCEM  664.30
2019-01-11  SAGCEM  656.05
Empty DataFrame
Columns: [Symbol, Close]
Index: []
               Symbol    Close
Date
2019-01-07  BHARATRAS  5199.95
2019-01-08  BHARATRAS  5163.85
2019-01-09  BHARATRAS  5100.75
2019-01-10  BHARATRAS  5151.85
2019-01-11  BHARATRAS  5107.95
           Symbol  Close
Date
2019-01-07   NMDC  94.95
2019-01-08   NMDC  94.95
2019-01-09   NMDC  91.25
2019-01-10   NMDC  91.10
2019-01-11   NMDC  92.20

In [75]:
df

,APCL,BALRAMCHIN,PAGEIND,DECCANCE,KALPATPOWR,SAGCEM,BHARATRAS,NMDC
Date,,,,,,,,
2019-01-07,126.25,108.00,21907.55,399.90,377.85,659.75,5199.95,94.95
2019-01-08,126.85,111.15,23021.60,395.60,383.20,666.35,5163.85,94.95
2019-01-09,126.15,108.80,23262.80,397.75,382.80,669.50,5100.75,91.25
2019-01-10,129.80,109.90,23176.35,388.55,380.40,664.30,5151.85,91.10
2019-01-11,128.75,111.10,23356.00,394.85,380.80,656.05,5107.95,92.20
...,...,...,...,...,...,...,...,...
2019-05-09,134.35,144.60,21486.85,393.80,459.85,604.65,4081.70,94.80
2019-05-10,133.25,144.60,21295.65,392.95,460.15,603.00,4087.55,93.55
2019-05-13,123.90,136.25,21356.35,381.20,459.90,601.40,3993.05,93.85
2019-05-14,131.40,141.60,21384.25,378.95,459.85,595.50,4049.20,92.20
2019-05-15,142.95,141.05,21353.10,370.95,459.25,583.30,4042.50,90.30

In [78]:
start_date = date(2019, 1,7) 
end_date = date(2019,1, 11) 
df = pd.DataFrame() 

for i in range(len(growth_stocks)): 
    data = gh(symbol=growth_stocks[i],start=start_date, end=(end_date))[['Symbol','Close']] 
    print(data.head())
    if len(data) != 0:
        data.rename(columns={'Close':data['Symbol'][0]},inplace=True) 
        data.drop(['Symbol'], axis=1,inplace=True) 
        if i == 0: 
            df = data
        if i != 0: 
            df = df.join(data)

           Symbol   Close
Date
2019-01-07   APCL  126.25
2019-01-08   APCL  126.85
2019-01-09   APCL  126.15
2019-01-10   APCL  129.80
2019-01-11   APCL  128.75
                Symbol   Close
Date
2019-01-07  BALRAMCHIN  108.00
2019-01-08  BALRAMCHIN  111.15
2019-01-09  BALRAMCHIN  108.80
2019-01-10  BALRAMCHIN  109.90
2019-01-11  BALRAMCHIN  111.10
             Symbol     Close
Date
2019-01-07  PAGEIND  21907.55
2019-01-08  PAGEIND  23021.60
2019-01-09  PAGEIND  23262.80
2019-01-10  PAGEIND  23176.35
2019-01-11  PAGEIND  23356.00
              Symbol   Close
Date
2019-01-07  DECCANCE  399.90
2019-01-08  DECCANCE  395.60
2019-01-09  DECCANCE  397.75
2019-01-10  DECCANCE  388.55
2019-01-11  DECCANCE  394.85
                Symbol   Close
Date
2019-01-07  KALPATPOWR  377.85
2019-01-08  KALPATPOWR  383.20
2019-01-09  KALPATPOWR  382.80
2019-01-10  KALPATPOWR  380.40
2019-01-11  KALPATPOWR  380.80
            Symbol   Close
Date
2019-01-07  SAGCEM  659.75
2019-01-08  SAGCEM  666.35
2019-01-09  SAGCEM  669.50
2019-01-10  SAGCEM  664.30
2019-01-11  SAGCEM  656.05
Empty DataFrame
Columns: [Symbol, Close]
Index: []
               Symbol    Close
Date
2019-01-07  BHARATRAS  5199.95
2019-01-08  BHARATRAS  5163.85
2019-01-09  BHARATRAS  5100.75
2019-01-10  BHARATRAS  5151.85
2019-01-11  BHARATRAS  5107.95
           Symbol  Close
Date
2019-01-07   NMDC  94.95
2019-01-08   NMDC  94.95
2019-01-09   NMDC  91.25
2019-01-10   NMDC  91.10
2019-01-11   NMDC  92.20

In [79]:
df

,APCL,BALRAMCHIN,PAGEIND,DECCANCE,KALPATPOWR,SAGCEM,BHARATRAS,NMDC
Date,,,,,,,,
2019-01-07,126.25,108.00,21907.55,399.90,377.85,659.75,5199.95,94.95
2019-01-08,126.85,111.15,23021.60,395.60,383.20,666.35,5163.85,94.95
2019-01-09,126.15,108.80,23262.80,397.75,382.80,669.50,5100.75,91.25
2019-01-10,129.80,109.90,23176.35,388.55,380.40,664.30,5151.85,91.10
2019-01-11,128.75,111.10,23356.00,394.85,380.80,656.05,5107.95,92.20

### Stock Price History

In [121]:
from datetime import date
from nsepy import get_history
sbin = get_history(symbol='SBIN',
                   start=date(2015,1,1),
                   end=date(2015,1,10))
sbin

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,SBIN,EQ,311.85,312.45,315.00,310.70,314.00,314.00,313.67,6138488,1.925489e+14,58688,1877677,0.3059
2015-01-02,SBIN,EQ,314.00,314.35,318.30,314.35,315.60,315.25,316.80,9935094,3.147389e+14,79553,4221685,0.4249
2015-01-05,SBIN,EQ,315.25,316.25,316.80,312.10,312.80,312.75,313.84,9136716,2.867432e+14,88236,3845173,0.4208
2015-01-06,SBIN,EQ,312.75,310.00,311.10,298.70,299.90,299.90,305.14,15329257,4.677601e+14,169268,7424847,0.4844
2015-01-07,SBIN,EQ,299.90,300.00,302.55,295.15,301.40,300.15,299.95,15046745,4.513243e+14,147185,5631400,0.3743
2015-01-08,SBIN,EQ,300.15,305.00,306.50,302.35,305.25,304.85,304.55,8939749,2.722593e+14,85776,3656015,0.4090
2015-01-09,SBIN,EQ,304.85,306.70,307.85,302.00,303.00,303.20,304.45,11953948,3.639361e+14,86383,4412814,0.3692

<h2> Stock futures price history <h2>

In [123]:
from datetime import date
from nsepy import get_history
# Stock futures (Similarly for index futures, set index = True)
stock_fut = get_history(symbol="SBIN",
                        start=date(2015,1,1),
                        end=date(2015,1,10),
                        futures=True,
                        expiry_date=date(2015,1,29))
stock_fut

,Symbol,Expiry,Open,High,Low,Close,Last,Settle Price,Number of Contracts,Turnover,Open Interest,Change in OI,Underlying
Date,,,,,,,,,,,,,
2015-01-01,SBIN,2015-01-29,315.10,317.95,313.40,316.65,317.00,316.65,14720,5.821172e+09,55480000,358750,314.00
2015-01-02,SBIN,2015-01-29,317.50,320.95,317.10,317.75,318.30,317.75,22525,8.988242e+09,55087500,-392500,315.25
2015-01-05,SBIN,2015-01-29,318.00,318.75,314.10,315.00,315.05,315.00,17455,6.898723e+09,55718750,631250,312.75
2015-01-06,SBIN,2015-01-29,312.95,312.95,300.10,301.30,301.10,301.30,29338,1.126715e+10,56701250,982500,299.90
2015-01-07,SBIN,2015-01-29,301.95,304.55,297.35,302.25,303.50,302.25,28489,1.074823e+10,58036250,1335000,300.15
2015-01-08,SBIN,2015-01-29,306.50,308.40,303.70,306.65,307.00,306.65,20120,7.702653e+09,57287500,-748750,304.85
2015-01-09,SBIN,2015-01-29,306.75,309.25,301.05,304.75,304.15,304.75,18961,7.247211e+09,57035000,-252500,303.20

In [ ]:
### Stock options price history
- For stock options, specify-
- option_type as “CE” for call and as “PE” for put option
- strike_price - the strike price of the contract
- expiry_date - expiry date of the contract,

In [124]:
# Stock options (Similarly for index options, set index = True)
stock_opt = get_history(symbol="SBIN",
                        start=date(2015,1,1),
                        end=date(2015,1,10),
                        option_type="CE",
                        strike_price=300,
                        expiry_date=date(2015,1,29))
stock_opt

,Symbol,Expiry,Option Type,Strike Price,Open,High,Low,Close,Last,Settle Price,Number of Contracts,Turnover,Premium Turnover,Open Interest,Change in OI,Underlying
Date,,,,,,,,,,,,,,,,
2015-01-01,SBIN,2015-01-29,CE,300.0,18.95,21.15,18.95,20.85,20.95,20.85,44,17631000.0,NaN,310000,-10000,314.00
2015-01-02,SBIN,2015-01-29,CE,300.0,21.50,23.90,21.35,21.45,21.40,21.45,84,33889000.0,NaN,301250,-8750,315.25
2015-01-05,SBIN,2015-01-29,CE,300.0,21.00,21.00,18.60,18.60,18.60,18.60,47,18775000.0,NaN,307500,6250,312.75
2015-01-06,SBIN,2015-01-29,CE,300.0,16.10,16.80,10.50,11.05,11.20,11.05,328,127846000.0,NaN,441250,133750,299.90
2015-01-07,SBIN,2015-01-29,CE,300.0,11.05,12.50,9.00,11.25,11.85,11.25,1512,587993000.0,NaN,841250,400000,300.15
2015-01-08,SBIN,2015-01-29,CE,300.0,13.50,13.85,11.90,12.80,13.00,12.80,629,245972000.0,NaN,748750,-92500,304.85
2015-01-09,SBIN,2015-01-29,CE,300.0,13.70,14.20,10.50,11.35,11.05,11.35,448,174737000.0,NaN,752500,3750,303.20

### Index price history
- There are currently 50+ indices maintained by NSE. You can get historical data for all of them.

- Usage-
    - symbol - Name of the index in capital (Refer this page for list of indices)
    - index - Set this True for all index related operations

In [125]:
# NIFTY Next 50 index
nifty_next50 = get_history(symbol="NIFTY NEXT 50",
                            start=date(2015,1,1),
                            end=date(2015,1,10),
                            index=True)
# NIFTY50 Equal wight index (random index from the list)
nifty_eq_wt = get_history(symbol="NIFTY50 EQUAL WEIGHT",
                            start=date(2017,6,1),
                            end=date(2017,6,10),
                            index=True)

In [126]:
nifty_next50

                Open      High       Low     Close    Volume      Turnover
Date
2015-01-01  18655.65  18752.65  18638.00  18734.85  42634653  1.170750e+10
2015-01-02  18748.30  18964.30  18748.30  18883.15  65127256  2.364060e+10
2015-01-05  18902.40  19053.00  18822.35  18852.10  58256767  2.093900e+10
2015-01-06  18752.90  18752.90  18263.60  18312.35  81096398  2.764220e+10
2015-01-07  18323.40  18424.00  18133.70  18308.85  75084759  2.779550e+10
2015-01-08  18488.15  18690.55  18476.45  18662.10  78886563  2.689510e+10
2015-01-09  18789.50  18828.60  18494.10  18633.95  79723949  2.792390e+10

In [127]:
nifty_eq_wt

            Open  High  Low     Close     Volume      Turnover
Date
2017-06-01   NaN   NaN  NaN  11789.64  181533283  9.482610e+10
2017-06-02   NaN   NaN  NaN  11839.64  167195027  8.564300e+10
2017-06-05   NaN   NaN  NaN  11873.78  131685021  7.192240e+10
2017-06-06   NaN   NaN  NaN  11804.67  150379695  8.416550e+10
2017-06-07   NaN   NaN  NaN  11846.42  165669924  8.989360e+10
2017-06-08   NaN   NaN  NaN  11825.27  160165459  8.822630e+10
2017-06-09   NaN   NaN  NaN  11840.46  163897548  9.078710e+10

You will observe a lot of NaN values for many indeces like ‘NIFTY50 Equal wight index’, In those cases just use ‘Close’ values

### Index futures price history
- Out of the 60+ indices, only 7 indeces are available for derivative. (List available here.) Usage-
- index - Set True
- futures - Set True
- expiry_date - Expiry date of the contract

In [128]:
nifty_fut = get_history(symbol="NIFTY",
                        start=date(2015,1,1),
                        end=date(2015,1,10),
                        index=True,
                        futures=True,
                        expiry_date=date(2015,1,29))
nifty_fut

,Symbol,Expiry,Open,High,Low,Close,Last,Settle Price,Number of Contracts,Turnover,Open Interest,Change in OI,Underlying
Date,,,,,,,,,,,,,
2015-01-01,NIFTY,2015-01-29,8320.00,8356.0,8295.20,8343.80,8347.05,8343.80,152053,3.165350e+10,21140550,-28675,8284.00
2015-01-02,NIFTY,2015-01-29,8352.25,8470.9,8352.25,8458.40,8468.00,8458.40,384440,8.105711e+10,21427925,287375,8395.45
2015-01-05,NIFTY,2015-01-29,8452.35,8492.0,8406.00,8422.85,8423.85,8422.85,362889,7.661895e+10,20698500,-729425,8378.40
2015-01-06,NIFTY,2015-01-29,8422.00,8422.0,8000.00,8157.90,8150.30,8157.90,807830,1.663583e+11,19157775,-1540725,8127.35
2015-01-07,NIFTY,2015-01-29,8150.00,8184.0,8096.00,8141.85,8154.00,8141.85,513814,1.046381e+11,18716025,-441750,8102.10
2015-01-08,NIFTY,2015-01-29,8209.00,8274.9,8193.10,8257.25,8255.00,8257.25,409705,8.433153e+10,17798500,-917525,8234.60
2015-01-09,NIFTY,2015-01-29,8306.35,8334.0,8205.00,8315.50,8311.60,8315.50,596384,1.234251e+11,17111350,-687150,8284.50

### Index options price history
- Usage-
- index - Set True
- option_type as “CE” for call and as “PE” for put option
- strike_price - the strike price of the contract
- expiry_date - expiry date of the contract

In [129]:
nifty_opt = get_history(symbol="NIFTY",
                        start=date(2015,1,1),
                        end=date(2015,1,10),
                        index=True,
                        option_type='CE',
                        strike_price=8200,
                        expiry_date=date(2015,1,29))
nifty_opt

,Symbol,Expiry,Option Type,Strike Price,Open,High,Low,Close,Last,Settle Price,Number of Contracts,Turnover,Premium Turnover,Open Interest,Change in OI,Underlying
Date,,,,,,,,,,,,,,,,
2015-01-01,NIFTY,2015-01-29,CE,8200.0,170.10,223.00,170.10,214.85,217.50,214.85,25091,5.272510e+09,NaN,1214775,-9325,8284.00
2015-01-02,NIFTY,2015-01-29,CE,8200.0,224.25,301.50,219.55,287.20,298.00,287.20,35187,7.452236e+09,NaN,997025,-217750,8395.45
2015-01-05,NIFTY,2015-01-29,CE,8200.0,285.50,313.85,245.20,257.85,255.50,257.85,16551,3.508488e+09,NaN,966425,-30600,8378.40
2015-01-06,NIFTY,2015-01-29,CE,8200.0,207.05,207.05,102.80,110.00,107.90,110.00,280463,5.843498e+10,NaN,2138150,1171725,8127.35
2015-01-07,NIFTY,2015-01-29,CE,8200.0,115.05,125.80,90.55,103.15,107.90,103.15,635262,1.319545e+11,NaN,3129950,991800,8102.10
2015-01-08,NIFTY,2015-01-29,CE,8200.0,130.00,155.80,122.00,146.45,146.95,146.45,289891,6.041253e+10,NaN,2823125,-306825,8234.60
2015-01-09,NIFTY,2015-01-29,CE,8200.0,170.15,185.70,107.95,175.45,173.10,175.45,243137,5.077964e+10,NaN,2539425,-283700,8284.50

### India VIX price history
India VIX is a volatility index which gives a measurement of market volatility based on NIFTY options contract. 
This servers as important parameter in option pricing.

In [130]:
vix = get_history(symbol="INDIAVIX",
            start=date(2015,1,1),
            end=date(2015,1,10),
            index=True)
vix

               Open     High      Low    Close  Previous  Change  %Change
Date
                NaN      NaN      NaN      NaN       NaN     NaN      NaN
2015-01-01  15.1200  15.5075  14.7550  15.0250   15.1200   -0.10  -0.0063
2015-01-02  15.0250  15.0250  13.4825  13.7950   15.0250   -1.23  -0.0819
2015-01-05  13.7950  14.4050  13.1525  14.1525   13.7950    0.36   0.0259
2015-01-06  14.1525  17.8700  13.4575  17.4200   14.1525    3.27   0.2309
2015-01-07  17.4200  19.0700  16.5025  18.1400   17.4200    0.72   0.0413
2015-01-08  18.1400  18.1400  15.3825  16.4725   18.1400   -1.67  -0.0919
2015-01-09  16.4725  16.9075  14.4625  15.9550   16.4725   -0.52  -0.0314